<!-- public/partials/navbar.html -->

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/profile">Company Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="/geos">Geos available</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        </ul>

